<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Origami Vendor -->
        <tab id="origami_vendor_tab" translate="label" sortOrder="50">
            <label>Origami Vendor</label>
        </tab>

        <section id="origami_vendor" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Configure</label>
            <tab>origami_vendor_tab</tab>
            <resource>Origami_Vendor::all</resource>
            <group id="config" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="1" showInStore="0">
                <label>Config</label>
                <field id="category_id" type="text" sortOrder="10" showInDefault="0" showInWebsite="1" showInStore="0">
                    <label>Limit to a category</label>
                </field>
                <field id="seller_id" type="text" sortOrder="10" showInDefault="0" showInWebsite="1" showInStore="0">
                    <label>ID Seller for quantity</label>
                </field>
            </group>
        </section>
    </system>
</config>
